html, body, .container-fluid, .container, div, main {
	background-color: #000029;
    color: #fffff0;
}

html {
	padding-top: 5em;
}

h1, h2, h3, h4 {
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
}

@media only screen and (max-width: 576px) {
    .row.main {
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
}

p, label, input, form {
    font-family: 'Courier Prime', monospace;
    line-height: 1.25em;
}

.btn {
    font-family: 'Courier Prime', monospace;
    font-style: italic;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0.4em 0.3em auto 0.3em;
}

.main-box {
    border-style: solid;
    border-color: #8a0000;
    padding: 2em; 
}

.section-head {
    margin: 2rem 0.55rem 1rem 0.5rem;
}

p.breaker {
	text-align: center;
	margin: 1rem;
	color: #8a0000;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
