
.extras {
    margin-top: 3em;
}

.downloads {
    text-align: center;
}

ul {
    margin: 1em auto 2em auto;
    list-style-type: none;
}

.link {
    margin: 0.25em auto 0.25em auto;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: black;
    display:inline-block;
}

a:visited {
    color: black;
}
  

a:hover {
    text-decoration: line-through;
}

p.subtext {
    font-size: smaller;
}

a.light:hover {
    text-decoration: none;
}

a.darke:hover {
    background-color: red;
    color: black;
    border-color: red;
}
